parameters:
		database:
			host: clary
			username: root
			password:
			database: 318_cms
			profiler: TRUE
		dbpostfix:
			host: localhost
			username: root
			password:
			database: postfix
			profiler: TRUE
			lazy: TRUE
		siteId: 3
		adminHost: www.simplecms.dev
