<html>
	<head>
		<meta charset="UTF-8" >
		<meta name="Author" content="Martin Zadražil" >
		<meta name="Robots" content="noindex, nofollow" >

		{block css}{/block}

		{block bower}{/block}

		{block coffee}{/block}

		<title>Administrace stránky {$title}</title>
	</head>
	{block body}{/block}
</html>
