{layout '@layout.latte'}

{block css}
		<link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{$baseUri}/stylus/backend.css">
		<link rel="stylesheet" type="text/CodeMirror/css" href="{$basePath}/bower_components/codemirror/lib/codemirror.css">
		<link rel="stylesheet" type="text/CodeMirror/css" href="{$baseUri}/bower_components/codemirror/addon/hint/show-hint.css">
{/block}

{block bower}
		<script src="{$basePath}/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/codemirror/lib/codemirror.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/codemirror/mode/xml/xml.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/codemirror/addon/hint/show-hint.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/codemirror/addon/hint/xml-hint.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/codemirror/addon/hint/html-hint.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/ckeditor/ckeditor.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/Sortable/Sortable.js" type="text/javascript"></script>
{/block}

{block coffee}
	<script src="{$basePath}/js/document.js" type="text/javascript"></script>
{/block}

{block body}
	<body id="main">
		<script type="text/javascript">
			window.baseUrl = {plink Ajax:default};
			var doc = new Cms.Document('main');
			doc.setBaseUrl({plink Ajax:default});
			doc.load();
		</script>
	</body>
{/block}
