{layout '@layout.latte'}

{block css}
		<link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{$baseUri}/stylus/backend.css">
{/block}

{block bower}
		<script src="{$basePath}/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/ckeditor/ckeditor.js" type="text/javascript"></script>
		<script src="{$basePath}/bower_components/Sortable/Sortable.js" type="text/javascript"></script>
{/block}

{block coffee}
	<script src="{$basePath}/js/gallery_document.js" type="text/javascript"></script>
{/block}

{block body}
	<body id="main">
		<script type="text/javascript">
			var doc = new Cms.Document('main');
			doc.setBaseUrl({plink Ajax:default}).setMenuId({$generallGalleryId});
			doc.setShowType('image');
			doc.load();
		</script>
	</body>
{/block}
